package-lock.json
node_modules
.env
data/*
.githubsync
.glitch-assets
shrinkwrap.yaml
pull.sh
pull-f.sh
push.sh
push-f.sh
!/**/.gitkeep
pnpm-lock.yaml
pnpm-debug.log
debug.log
_data
.vscode
nodemon.json