<div class="footer">
  <p class="footerElement"><a href='https://discordbots.org/bot/591694201230721043/vote'>Vote</a> &bullet; <a href='https://discord.gg/cnTZNUF'>Support Guild</a> &bullet; <a href='https://discordapp.com/oauth2/authorize?client_id=591694201230721043&scope=bot&permissions=8'>Invite</a> &bullet; <input type="checkbox" id="darkCheckbox" onclick="changeTheme()">Dark Theme</p>
  <p class="footerElement" style="float:right;color:gray;">&copy; 2019 AlexejheroYTB &bullet; Discord Hack Week 2019 Winner (Productivity)</p>
</div>

<script>
  let check = document.getElementById('darkCheckbox');
  check.checked = getCookie('darkTheme') == 'true';
  changeTheme();
  
  function changeTheme() {
    document.getElementById('darkCSS').disabled = !check.checked;
    setCookie('darkTheme', check.checked);
  }
</script>
