<div class="footer">
  <p class="footerElement"><a href='https://discordbots.org/bot/591694201230721043/vote'>Vote</a> &bullet; <a href='https://discord.gg/cnTZNUF'>Support Guild</a> &bullet; <input type="checkbox" id="darkCheckbox" onclick="changeTheme()">Dark Theme</p>
  <p class="footerElement" style="float:right;color:gray;">&copy; 2019 AlexejheroYTB &bullet; Discord Hack Week 2019 Winner (Productivity)</p>
</div>
<script>
  let check = document.getElementById('darkCheckbox')
  if(getCookie('darkTheme') == 'true') check.checked = true
  function changeTheme() {
    isDark = check.checked
    if(isDark) {
      document.getElementById('darkCSS').disabled = false
      setCookie(cname, cvalue, exdays = 365) 
      document.cookie = `darkTheme=true; expires=${new Date(Date.now() +1000 * 60 * 60 * 24 * 365)}`;
    }
    else {
      document.getElementById('darkCSS').disabled = true
      document.cookie = `darkTheme=false; expires=${new Date(Date.now() +1000 * 60 * 60 * 24 * 365)}`;
    }
  }
</script>
