<div style="display:inline-block;font-size:20px;bottom:0;"><a href='https://discordbots.org/bot/591694201230721043/vote'>Vote</a> &bullet; <a href='https://discord.gg/cnTZNUF'>Support Guild</a></div>
<div style="float:right;color:gray;display:inline-block;font-size:20px;bottom:0;">&copy; 2019 AlexejheroYTB &bullet; Discord Hack Week 2019 Winner (Productivity)</div>