<head>
  <title>Dlockly</title>

  <meta property="og:type" content="website">
  <meta property="og:title" content="Dlockly">
  <meta property="og:description" content="A fully customizable Discord bot with a Scratch-like interface!">
  <meta property="og:image" content="https://dlockly.glitch.me/www/assets/logo.png">

  <link rel="shortcut icon" href="www/assets/icon.ico">
  <link rel="icon" href="www/assets/icon.ico">

  <link href="www/css/main.css" rel="stylesheet">
  <link href="www/css/dark.css" rel="stylesheet" id="darkCSS" disabled>

  <link href="https://fonts.googleapis.com/css?family=Days+One&display=swap" rel="stylesheet">
  <link href="www/fonts/discord/discord.css" rel="stylesheet">

  <script src="www/js/cookies.js"></script>
</head>
