<head>
  <title>Dlockly</title>
  <link rel="shortcut icon" href="https://cdn.glitch.com/43f72134-88ea-4e7b-ace8-4a444b9aab78%2FIcon1.ico?v=1561534699612">
  <link rel="icon" href="https://cdn.glitch.com/43f72134-88ea-4e7b-ace8-4a444b9aab78%2FIcon1.ico?v=1561534699612">
  <link href="www/css/main.css" rel="stylesheet">
  <link id=theme href="www/css/theme.css" rel="stylesheet" <%if (!theme) {%>disabled<%}%>>
  <link id=color href="www/css/<%=theme || 'light'//so no errors with no theme%>.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Days+One&display=swap" rel="stylesheet">
  <link href="https://dlockly-storage.glitch.me/fonts/discord.css" rel="stylesheet">
</head>
