<% include partials/head %>

<h1>Unknown User</h1>
<p>Make sure that you have a common guild with the bot</p>
<p>You can invite the bot <a href='https://discordapp.com/oauth2/authorize?client_id=<%=server.bot.id%>&scope=bot&permissions=8'>here</a></p>

<a href="logout"><button>Logout</button></a>

<% include partials/footer %>