body {

  --alternate-color: #313131;
  --background-color: #160f19;
  --disabled-color: #393939;
  --link-color: #0af;
  --main-color: white;
  --accent-color: gold;
}

html,
body {
  color: var(--main-color);
  background-color: var(--background-color);
}

.blocklySvg {
  color: var(--main-color);
  background-color: var(--background-color);
}

.blocklyWorkspace {
  color: var(--main-color);
  background-color: var(--background-color);
}

.blocklyToolboxDiv {
  color: var(--main-color);
  background-color: var(--background-color);
}

.gray {
  color: var(--disabled-color) !important;
}

svg {
  fill: var(--main-color);
}

div:not(.blocklyTooltipDiv div) {
  color: var(--main-color);
}

a#login {
  color: var(--main-color);
}

button {
  color: var(--main-color);
  background-color: var(--background-color);
  border-color: var(--main-color);
}

button:disabled {
  color: var(--disabled-color);
}

select {
  color: var(--main-color);
  background-color: var(--background-color);
  border-color: var(--main-color);
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: var(--link-color);
}

.blocklyFlyoutBackground {
  background-color: var(--background-color);
  fill: var(--background-color);
}

select:disabled {
  color: var(--disabled-color);
}

form input[type='submit'] {
  color: var(--main-color);
  background-color: var(--background-color);
  border-color: var(--main-color);
}

form input[type='submit']:disabled {
  color: var(--disabled-color);
}

a:-webkit-any-link {
  color: var(--link-color);

}

.blocklyScrollbarHandle {
  fill: var(--disabled-color) !important;
}

.blocklyScrollbarHandle:hover {
  fill: var(--alternate-color) !important;
}

.shopButton {
  color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}