body {
  --bg-color: #160f19;
  --txt-color: white;
  --disabled-color: lightgray;
  --a-color: #0af;
}

body {
  color: var(--txt-color);
  background-color: var(--bg-color);
}

.blocklySvg {
  color: var(--txt-color);
  background-color: var(--bg-color);
}

.blocklyWorkspace {
  color: var(--txt-color);
  background-color: var(--bg-color);
}

.blocklyToolboxDiv {
  color: var(--txt-color);
  background-color: var(--bg-color);
}

.blocklyTooltipDiv {
  color: var(--txt-color);
  background-color: var(--bg-color);
}

svg {
  fill: var(--txt-color);
}

div {
  color: var(--txt-color);
}

a#login {
  color: var(--txt-color);
}

button {
  color: var(--txt-color);
  background-color: var(--bg-color);
  border-color: var(--txt-color);
}

button:disabled {
  color: var(--disabled-color);
}

select {
  color: var(--txt-color);
  background-color: var(--bg-color);
  border-color: var(--txt-color);
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
  background-color: var(--a-color);
}

.blocklyFlyoutBackground {
  background-color: var(--bg-color);
  fill: var(--bg-color);
}

select:disabled {
  color: var(--disabled-color);
}

form input[type='submit'] {
  color: var(--txt-color);
  background-color: var(--bg-color);
  border-color: var(--txt-color);
}

form input[type='submit']:disabled {
  color: var(--disabled-color);
}

a:-webkit-any-link {
  color: var(--a-color);

}

.blocklyScrollbarHandle {
  filter: brightness(85%);
}

.blocklyScrollbarHandle:hover {
  filter: brightness(50%);
}