html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
}

table {
  height: 100%;
  width: 100%;
}

#blocklyArea {
  height: 99%;
}

form button,
form input[type='submit'] {
  font-size: 20px;
  height: 37px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

li {
  font-size: 20px;
}

p {
  font-size: 20px;
}

* {
  font-family: "Discord";
  font-weight: normal;
}

.blocklyTooltipDiv div {
  font-family: sans-serif;
}

.gray {
  color: lightgray;
}

a#login {
  position: fixed;
  left: calc(50% - 268px);
  top: calc(50% - 100px);
  font-size: 43px;
  width: 536px;
  height: 96px;
  font-style: normal;
  color: #000;
  text-decoration: none;
  font-family: 'Discord', sans-serif;
}

svg#login {
  vertical-align: middle;
  height: 100px;
  position: relative;
  top: 4px;
}